<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sample.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sample.description %>
</p>

<% if @sample.samplefiles.attached? %>
  <p>
    <% @sample.samplefiles.each do |samplefile| %>
      <strong>file:</strong>
      <%= link_to samplefile.filename, rails_blob_path(samplefile, disposition: "attachment") %> <br>
    <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
